* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

.header-cont {
    background-image: url(../img/wall.png);
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cont h1 {
    font-size: 3rem;
}

main {
    background-image: url(../img/cork.png);
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.row {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: 30%;
}

.card {
    padding: 10px;
    background-color: white;
    position: relative;
}

.pin-img {
    position: absolute;
    top: -17px;
    right: 41%;
}

.post-image {
height: 400px;
}
.post-image img{
    height: 80%;
}
.descrition{
    padding: 10px;
} 