* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
    background-image: url(../img/cork.png);
}

.header-cont {
    background-image: url(../img/wall.png);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cont h1 {
    font-size: 3rem;
}


.d-flex{
    display: flex;
}
[class ^= col-]:hover{
    cursor: pointer;
    z-index: 1;

}

.card {
    padding: 10px;
    background-color: white;
    position: relative;
}
.card:hover {
     box-shadow: 10px 10px grey;
     transform: rotate(10deg);
}

.pin-img {
    position: absolute;
    top: -17px;
    right: 45%;
}

.post-image img{
    height: 80%;
}
.descrition{
    padding: 10px;
    font-size: 2rem;
} 
.date{
    padding-top: 20px;
    font-family: "Sometype Mono", monospace;
}
.text-gray{
    color: lightgray;
}
.text-family{
    font-family: "Edu Tas Beginner", sans-serif;
}

.alert-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.opacity-bg{
    background-color: rgba(0, 0, 0, 0.66);
}

.alert-image{
    height: 600px;
    width: 600px;
   background-color: white;
    position: fixed;
    z-index: 2;
}
.close{
    color: white;
    background-color: red;
    border: red;
    padding: 10px 30px 10px 30px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 48%;
    border-radius: 10px ;
    
}